*.md
/*.dockerfile
/.*ignore
/.editorconfig
/.git
/.github
/.idea
/[Dd]ockerfile
/build.sh
/build_ubuntu.sh
/compose.yml
/docker-compose.yml
/generate-variants.sh
/get-version.sh
/variants
/variants.tar